  body {
    font-family: Roboto, sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

.logo {
    font: 700 18px / 1.16667 "Raleway", sans-serif;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4d5ae5;
}

.accent {
    color: #2e2f42;
}